<%= form_for(@incidence) do |f| %>
  <% if @incidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incidence.errors.count, "error") %> prohibited this incidence from being saved:</h2>

      <ul>
      <% @incidence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


        
